<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ログイン</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="m-4">サインインしてください</h1>
    <div class="card border-danger">
      <div class="card-header text-white bg-danger">
        <h3 class="card-title">チャットを行うにはサインインが必要です</h3>
      </div>
      <div class="card-body">
        <p>サインインに使用するサービスを選んでください</p>
        <ul>
          <li>
            <a href="/auth/login/facebook">Facebook</a>
          </li>
          <li>
            <a href="/auth/login/github">GitHub</a>
          </li>
          <li>
            <a href="/auth/login/google">Google</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>